.game-card {
    background: #1d1160;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 15px;
}


.game-title {
    color: white;
    font-size: 24px;
}


.game-time {
    color: yellow;
    font-weight: bold;
}

.schedule {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}